@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .condesc, .concard {
        max-width: 900px !important;
    }
}

body, html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FAFAFA
}

.navibar {
    transition: all 0.2s;
}

.nav-link:hover {
    color: #ffffff;
    font-family: hind semibold;
}

.navibar:hover {
    cursor: pointer;
    color: #F06292 !important;
    transition: all 0.2s;
}

.navibar::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: #ffffff .3s;
    font-family: hind semibold;
}

.navibar:hover::after {
    width: 100%;
    transition: width .3s;
    font-family: hind semibold;
}

.btnlogin {
    background-color: #F5989D;
    color: White;
    padding: 7px 30px !important;
    border-radius: 5px;
    font-family: hind;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 27px;
}

.btnlogin:hover {
    background-color: #F06292;
    color: white !important;
}

.badge {
    background-color: #F5989D;
    font-family: muli;
    font-weight: normal;
    margin-left: 10px;
    font-size: 13px;
    margin-top: -5px;
}

.hrheader {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E0E0E0;
    border: 0 none;
}

.pblogtitle {
    color: #424242;
    font-family: mermaid;
    font-size: 50px;
    margin-top: 10px;
    width: 80%;
}

.pauthor {
    font-family: muli;
    letter-spacing: -1px;
    color: #757575;
    font-weight: bold;
    margin-top: 15px;
}

.pblogdate {
    font-family: muli;
    color: #757575;
    font-size: 15px;
    margin-top: -10px;
    font-weight: bold;
}

.pdesc {
    font-family: hind;
    color: #424242;
    font-size: 17px;
}

.subhead:first-child:first-letter {
    color: #424242;
    float: left;
    font-family: hind;
    font-size: 80px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.pbloghead {
    color: #F5989D;
    font-size: 30px;
    margin-top: 50px;
    border-left: 3px solid #EC407A;
    font-family: mermaid;
    padding-left: 20px;
}

.phead {
    font-family: hind;
    font-weight: bold;
    color: #222222;
    font-size: 20px;
}

.prelated {
    font-family: muli semibold;
    font-size: 25px;
    color: #212121;
    letter-spacing: -1px;
    margin-top: 10px;
}

.card-text {
    font-family: hind semibold;
    font-size: 18px;
    color: #212121;
    margin: 0px;
}

.card-desc {
    font-family: hind;
    font-size: 15px;
    color: #424242;
    margin-top: 5px;
}

.text-muted {
    font-family: hind;
    font-size: 13px;
    font-weight: normal !important;
    color: #424242;
}

.pfootertitle {
    color: #424242;
    font-family: muli;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -1px;
    margin-right: 70px;

}

.pfootersubtitle {
    font-family: hind;
    font-size: 15px;
    color: #757575;
    cursor: pointer;
}

.pfootersubtitle:hover {
    transition: all 0.2s;
    color: #F06292;
}

.pfooterabout {
    font-family: muli;
    font-size: 15px;
    letter-spacing: -1px;
    color: #757575;
    margin-top:20px;
}

.pemail {
    font-size: 15px;
    font-family: muli;
    letter-spacing: -1px;
    color: #F5989D;
    margin-left: 30px;
    margin-top:-10px;
}