@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../Font/Proxima/ProximaNova-Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova semibold";
    src: url("../Font/hind/ProximaNova-Semibold.ttf");
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.pannouncement {
    font-family: Proxima Nova;
    color: white;
    font-size: 1rem;
}

.preadmore {
    transition: all 0.2s;
    cursor: pointer;
}

.preadmore:hover, .pclose:hover, .btnabout:hover, .btnfaq:hover, .btncontact:hover, .btnstores:hover {
    color: #e83b4f !important;
}

.pclose {
    font-family: Proxima Nova;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.vl {
    border-left: 1px solid #424242;
    height: 5px !important;
    margin-left: 10px;
}

.btnabout:hover, .btnfaq:hover, .btncontact:hover, .btnstore:hover {
    transition: all 0.2s;
    cursor: pointer;
}

.txtsearch {
    font-family: Proxima Nova;
    color: #424242;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #9E9E9E;
    outline: none;
    border-radius: 5px;
    background: url(../Image/search1.png) no-repeat 97% 7px white;
    background-size: 18px;
    width: 250px;
}

.pshoppingcart {
    font-family: Mont Demo;
    color: #212121;
    font-size: 1.7rem;
    font-weight: bold;
}

.tableheader {
    font-family: Proxima Nova;
    color: #212121;
    font-size: 0.9rem;
    font-weight: bold;
}

.table-image td, .table-image th {
    vertical-align: middle;
}

td {
    font-family: Proxima Nova Semibold;
    font-size: 1rem;
    color: #263238;
}

tr:hover {
    background-color: #EEEEEE !important;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

.pitemname {
    font-family: Proxima Nova;
    font-weight: bold;
    color: #212121;
    font-size: 1.2rem;
    line-height: 120%;
}

.psize {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 0.9rem;
    color: #424242;
}

.btnminus {
    background-color: transparent;
    font-family: Mont Demo;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
    border: 0px;
    outline: none !important;
    margin-right: 5px;
    margin-top: 2px;
}

.btnplus {
    background-color: transparent;
    font-family: Mont Demo;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
    border: 0px;
    outline: none !important;
    margin-top: 2px;
}

.btnplus:hover, .btnminus:hover {
    background-color: #EEEEEE;
}

.btnremove {
    font-family: Mont Demo;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    font-weight: bold;
}

.btnremove:hover {
    color: #f44336;
}

.ppersonalinfo {
    color: #212121;
    font-family: Mont Demo;
    font-weight: bold;
    font-size: 1.5rem;
}

.pname {
    font-family: Proxima Nova Semibold;
    font-size: 0.9rem;
    color: #9E9E9E;
    margin-top: 30px;
}

.pfullname {
    font-family: Proxima Nova Semibold;
    color: #212121;
    font-size: 0.9rem;
    margin-top: -7px;
}

.btncheckout {
    font-family: Proxima Nova Semibold;
    background-color: #e53935;
    font-size: 1.1rem;
    color: white;
    border: 0px;
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.btncheckout:hover {
    background-color: #d32f2f;
}

#ptotal {
    font-family: Proxima Nova Semibold;
    color: #212121;
}

.psubtotal {
    font-family: Proxima Nova;
    color: #616161;
    font-size: 0.9rem;
}

.pcontinue {
    font-family: Proxima Nova;
    font-weight: bold;
    color: #212121;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.pcontinue:hover {
    color: #d32f2f;
}

.poveralltotal {
    font-family: Proxima Nova;
    font-weight: bold;
    color: #212121;
}

.txtvalue {
    border: 0px;
    font-family: Proxima Nova;
    color: #212121;
    width: auto;
}

sup {
    background-color: #f44336;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    margin-top: -5px !important;
    line-height: 80%;
    vertical-align: text-top;
}

.confooter {
    background-color: #212121;
    padding: 0px 20px;
}

.pfootertitle {
    font-family: Proxima Nova;
    color: #e83b4f;
    font-size: 1rem;
}

.pfooterdesc {
    font-family: Proxima Nova;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.txtnewsletter {
    font-family: Proxima Nova;
    color: white;
    font-size: 1rem;
    background: url(../Image/right.png) no-repeat 97.25% 10px transparent;
    background-size: 20px;
    border: 0px;
    border-bottom: 1px solid #e83b4f;
    width: 300px;
    padding: 5px 10px;
    outline: none;
}