body, html {
  widows: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../Font/Proxima/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova semibold";
  src: url("../Font/Proxima/ProximaNova-Semibold.ttf");
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .con {
    max-width: 1400px !important;
  }
}

.pwelcome {
  font-family: Proxima Nova;
  font-weight: bold;
  color: #424242;
  font-size: 2.4rem;
  margin-top: 40px;
  line-height: 130%;
}

.pwelcomeback {
  font-family: Proxima Nova semibold;
  color: #424242;
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 130%;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #424242;
  font-family: Proxima Nova Semibold;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e53935;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
  border-bottom-color: #424242;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: Proxima Nova Semibold;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #424242;
  background: none;
  border-radius: 0;
  color: #424242;
  transition: all 0.15s ease;

}


.inp input:not(:placeholder-shown)+span {
  color: #424242;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
  border-bottom: 2px solid #424242;
}

.inp input:focus+span {
  color: #424242;
  transform: translateY(-26px) scale(0.75);
  border-bottom-color: #424242;
}

.inp input:focus+span+.border {
  transform: scaleX(1);
  
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #616161;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #616161;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover svg {
  stroke: #e53935;
}
#cbx:checked + .check svg {
  stroke: #e53935;
}
#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.lblremember {
  font-family: Proxima Nova Semibold;
  color: #424242;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 2px;
}

.lblforgot {
  font-family: Proxima Nova;
  color: #616161;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 4px;
  transition: all 0.2s;
}

.lblforgot:hover, .lblremember:hover {
  color: #e53935;
}

.btnlogin {
  background-color: #e53935;
  color: white;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s;
  border: 0px;
  border-radius: 25px;
}

.pdonthave {
  font-family: Proxima Nova Semibold;
  color: #e53935;
  font-size: 1rem;
  margin-top: 15px;
  cursor: pointer;
  margin-left: -60px;
}

.colbg {
  height: 100vh;
  background: linear-gradient( rgba(212, 154, 154, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
