@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}
@font-face {
	font-family: "Proxima Nova";
	src: url("../Font/Proxima/ProximaNova-Regular.ttf");
}
@font-face {
	font-family: "Proxima Nova semibold";
	src: url("../Font/hind/ProximaNova-Semibold.ttf");
}



body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.maincontainer {
    height: 100vh;
    /* background: linear-gradient( to left, rgba(245,175,25, 0.7), rgba(241,39,17, 0.8)), url(../Image/bg2.jpg);   */
    background: linear-gradient( rgba(212, 154, 154, 0.1), rgba(0, 0, 0, 0.1)), url(../Image/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pwelcome {
    font-size: 60px;
    font-family: Proxima Nova;
    color: white;
    line-height: 120%;
    font-weight: bold;
    border-left: 3px solid #FF9100;
    padding-left: 20px;
}

.pwelcomesub {
    font-size: 18px;
    font-family: Proxima Nova;
    color: white;
    line-height: 150%;
    padding-left: 20px;
}

button {
    padding-left: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 10px;
    font-family: Proxima Nova;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #FF9100;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #FF9100;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.imghover {
    cursor: pointer;
}

.imghover:hover {
    transition: all 0.2 ease-in-out;
}

.card-title {
    font-family: Proxima Nova Semibold;
    font-size: 20px;
    color: #232433;
}

.card-text {
    font-family: Proxima Nova;
    font-size: 16px;
    color: #232433;
}

.pnewsandupdates , .pproducthiglights {
    font-family: Proxima Nova Semibold;
    color: #232433;
    font-size: 25px;
}

.pnewsandupdatessub, .ppreparedsub {
    font-family: Proxima Nova;
    color: #232433;
    font-size: 18px;
}

.pnewstitle {
    font-family: Proxima Nova Semibold;
    font-size: 30px;
    color: #232433;
    margin-top: 10px;
    line-height: 130%;
}

.pnewstitlesub {
    font-family: Proxima Nova;
    font-size: 15px;
    color: #232433;
    margin-top: -10px;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: #FF9100;
}

.timeline-item:last-child {
    -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-title {
    font-size: 20px;
    color: #232433;
    font-family: Proxima Nova;
}

.pprepared {
    font-family: Proxima Nova;
    font-size: 20px;
    color: #232433;    
}

.confooter {
    background-color: #142132;
}

.pconnect {
    font-family: Proxima Nova Semibold;
    font-size: 18px;
    color: white;
}

.pconnectsub {
    font-family: Proxima Nova;
    font-size: 15px;
    color: white;
}

.btnemail {
    font-family: Proxima Nova Semibold;
    color: #424242;
    font-size: 15px;
    border: 0px;
    width: 300px;
    padding: 10px;
    margin-top:10px;
    margin-right: 10px;
}

.btnsubscribe {
    font-family: Proxima Nova Semibold;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding:10px 25px;
    background-color: transparent;
    cursor: pointer;
}

.btnsubscribe:hover {
    transition: all 0.2s;
    background-color: white;
    color: #142132;
}

.ptitlesub {
    font-family: Proxima Nova;
    font-size: 15px;
    color: white;
    cursor: pointer;
}