@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../Font/Proxima/ProximaNova-Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova semibold";
    src: url("../Font/Proxima/ProximaNova-Semibold.ttf");
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.pannouncement {
    font-family: Proxima Nova;
    color: white;
    font-size: 1rem;
}

.preadmore {
    transition: all 0.2s;
    cursor: pointer;
}

.preadmore:hover, .pclose:hover, .btnabout:hover, .btnfaq:hover, .btncontact:hover, .btnstores:hover {
    color: #e83b4f !important;
}

.pclose {
    font-family: Proxima Nova;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.vl {
    border-left: 1px solid #424242;
    height: 5px !important;
    margin-left: 10px;
}

.btnabout:hover, .btnfaq:hover, .btncontact:hover, .btnstore:hover {
    transition: all 0.2s;
    cursor: pointer;
}

.txtsearch {
    font-family: Proxima Nova;
    color: #424242;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #9E9E9E;
    outline: none;
    border-radius: 5px;
    background: url(../Image/search1.png) no-repeat 97% 7px white;
    background-size: 18px;
    width: 250px;
}

.btnhome:hover, .btnproduct:hover, .btncontact:hover, .btnnews:hover, .btnlogin:hover, .btncart:hover {
    color: #e83b4f !important;
}


.porders {
    font-family: Mont Demo;
    color: #212121;
    font-size: 1.7rem;
    font-weight: bold;
}

.txtsearch1 {
    background-image: url('../Image/search1.png');
    font-family: Proxima Nova Semibold;
    background-position: 14px 9px;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 35px;
    border-radius: 25px;
    border: 1px solid #E0E0E0;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;
    color: #616161;
}

.pnew {
    font-family: Proxima Nova Semibold;
    color: #e53935;
    margin-left: 45px;
    cursor: pointer;
    transition: all 0.2s;
}

.pstatus {
    font-family: Proxima Nova Semibold;
    color: #ef5350;
    font-size: 0.9rem;
}

.theader {
    font-family: Proxima Nova Semibold;
    color: #757575;
    font-family: 1rem;
}

td {
    font-family: Proxima Nova Semibold;
    color: #424242;
    cursor: pointer;
    transition: all 0.2s;
}

tr {
    border-bottom: 1px solid #E0E0E0 !important;
}

tr:hover {
    border-left: 2px solid #e53935;
    -webkit-box-shadow: 1px 1px 15px -7px #757575;
    box-shadow: 1px 1px 15px -7px #757575;
}

.spanstatus1 {
    background-color: #B39DDB;
    padding: 8px 30px;
    border-radius: 25px;
    color: #673AB7;
}

.spanstatus2 {
    background-color: #69F0AE;
    padding: 8px 30px;
    border-radius: 25px;
    color: #43A047;
}

.spanstatus3 {
    background-color: #FFF9C4;
    padding: 8px 30px;
    border-radius: 25px;
    color: #FBC02D;
}

.porderstoday {
    font-family: Proxima Nova Semibold;
    font-size: 1rem;
    color: #9E9E9E;
    margin-top: 30px;
}

.pallorderscount {
    font-family: Proxima Nova Semibold;
    color: #212121;
    font-size: 1.5rem;
    margin-top: -9px;
}

.confooter {
    background-color: #142132;
}

.pconnect {
    font-family: Proxima Nova Semibold;
    font-size: 18px;
    color: white;
}

.pconnectsub {
    font-family: Proxima Nova;
    font-size: 15px;
    color: white;
}

.btnemail {
    font-family: Proxima Nova Semibold;
    color: #424242;
    font-size: 15px;
    border: 0px;
    width: 300px;
    padding: 10px;
    margin-top:10px;
    margin-right: 10px;
}

.btnsubscribe {
    font-family: Proxima Nova Semibold;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding:10px 25px;
    background-color: transparent;
    cursor: pointer;
}

.btnsubscribe:hover {
    transition: all 0.2s;
    background-color: white;
    color: #142132;
}

.ptitlesub {
    font-family: Proxima Nova;
    font-size: 15px;
    color: white;
    cursor: pointer;
}